.gridContainer {
  display: grid;
  gap: 20px;
  color: #fff;
  background-color: #1E1E1E;
}

.gridItem {
  background-color: #313032;
}

.score,
.team,
.donuts,
.court,
.bars,
.table {
  border-radius: 15px;
}

.score,
.team {
  grid-column: 3 / span 1;
}

.score {
  grid-row: 1;
  font-weight: 600;
  font-size: 24px;
  line-height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 76px 35px 0 0;
  padding: 27px 9px 29px 23px;
}

.team {
  grid-row: 2 / span 4;
  margin-right: 35px;
  padding: 35px;
  text-align: center;
}

.donuts,
.court {
  grid-column: 1 / span 2;
  font-weight: 500;
  font-size: 32px;
  line-height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  
}

.donuts {
  grid-row: 1 / span 2;
  margin: 74px 0 0 15px;
  padding: 68px 0 79px 0;
}

.court {
  grid-row: 3 / span 3;
  border-radius: 13px;
  margin-left: 15px;
  padding: 114px 10px 129px 10px;
}

.bars,
.table {
  grid-column: 1 / span 3;
  font-weight: 500;
  font-size: 48px;
  line-height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 36px 0 15px;
  height: 526px;
}

.bars {
  padding: 192px 10px 228px 10px;
}

.table {
  padding: 111px 0;
}