.grid-container {
  display: grid;
  gap: 20px;
  color: #fff;
  background-color: #1E1E1E;
}

.grid-item {
  background-color: #313032;
}

.score {
  grid-column: 3 / span 1;
  grid-row: 1;
  border-radius: 15px;
  font-weight: 600;
  font-size: 24px;
  line-height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 76px 35px 0 0;
  padding: 27px 9px 29px 23px;
}

.team {
  grid-column: 3 / span 1;
  grid-row: 2 / span 3;
  border-radius: 15px;
  margin-right: 35px;
  padding: 35px;
  text-transform: uppercase;
  display: flex;
  align-items: start;
  justify-content: center;
}

.donuts {
  grid-column: 1 / span 2;
  grid-row: 1 / span 2;
  border-radius: 15px;
  font-weight: 500;
  font-size: 32px;
  line-height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 74px 0 0 15px;
  padding: 68px 0 79px 0;
}

.court {
  grid-column: 1 / span 2;
  grid-row: 3 / span 3;
  border-radius: 13px;
  font-weight: 500;
  font-size: 32px;
  line-height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 15px;
  padding: 114px 10px 129px 10px;
}

.bars {
  grid-column: 1 / span 3;
  height: 525.73px;
  border-radius: 15px;
  font-weight: 500;
  font-size: 48px;
  line-height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 36px 0 15px;
  padding: 192px 10px 228px 10px;
}

.table {
  grid-column: 1 / span 3;
  height: 525.73px;
  border-radius: 15px;
  display: flex;
  align-items: center;
  margin: 22px 36px 44px 15px;
  padding: 111px 0 111px 0;
}